<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renxinkeji.exchange">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--设置界面活动-->
        <activity android:name=".activity.me_activity.SetPage"></activity>

        <!--账户安全活动-->
        <activity android:name=".activity.me_activity.AccountSafety"></activity>

        <!--推荐返佣-->
        <activity android:name=".activity.me_activity.RecommendRebate"></activity>

        <!--个人资料活动-->
        <activity android:name=".activity.me_activity.PersonalData"></activity>

        <!--账户安全活动-->
        <activity android:name=".activity.me_activity.RealnameIdentification"></activity>

        <!--常见问题活动-->
        <activity android:name=".activity.me_activity.CommonProblems"></activity>

        <!--关于我们活动-->
        <activity android:name=".activity.me_activity.AboutMe"></activity>

        <!--添加支付宝活动-->
        <activity android:name=".activity.me_activity.AddAlipay"></activity>

    </application>

</manifest>